@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div style="background-color:Black; color:White; width:80%">
    <table style="text-align:center">

        @foreach (int data in ViewBag.arrayData)
        {
            <tr>
                <td>@data hihi</td>
            </tr>
        }

    </table>
</div>

<button action="demarrer">Démarrer</button>
<button action="fin">Fin</button>